<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../node_modules/vue/dist/vue.js">//</script>
</head>
<body>
<div id="vueInstance">
    <mine></mine>
    <mine></mine>
    <mine></mine>
    <mine></mine>
</div>

<template id="mineTpl">
    <p>My name is FigoXu.</p>
    <button>点击没有任何事件</button>
</template>

<script>
    Vue.component('mine',{   //这里就是注册的内容
        template : '#mineTpl'
    });

    var V = new Vue({
        el : '#vueInstance'
    });
</script>
</body>
</html>